page {
    background: #fff;
}

.c-violet {
    color: #786cff;
}

.c-80 {
    color: #808080;
}

/* 选项卡 */

.swiper-tab {
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.swiper-tab .swiper-tab-item {
    width: 33.333333%;
    height: 100%;
    font-size: 14px;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff00;
}

.swiper-tab .on {
    color: #786cff;
    border-bottom: 2px solid #786cff;
}

/* 设置scroll-view容器高度 */

.widget-list, .zuowey-notcont {
    height: 100.1%;
}

/* 订单列表 */

.widget-list {
    padding: 5px 10px 20px 10px;
    box-sizing: border-box;
}

.widget__detail {
    padding: 10px 7.5px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 0.5px solid #e7e7e7;
}

.widget__detail .user-avatar {
    margin-right: 8px;
}

.widget__detail .user-avatar image {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.widget__detail .user-info {
    height: 100%;
}

.widget__detail .user-info .user-nickName {
    margin-bottom: 4px;
}

.widget__detail .detail__money {
    width: 100%;
    margin-bottom: 4px;
}
